body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 127, 223);

}

.l-sessao{
    padding: 25px;
    margin: 0 auto;
    max-width: 1200px;
    width: 35%;
    height: 500px;
    background-color: aliceblue;
    
    display: grid;
    
    
}


.div__1, .div__2, .div__3, .div__4{
    padding-left: 30px;
    
}

