

body {
    background-color: #ffdf00;
}


.body__content {
    background-color: white;
    padding: 100px 50px;
    border-radius: 50px;

    position: relative;
}

.body__content::before {
    display: block;

    background-color: #f4c732;
    height: 100px;
    width: 100%;

    content: " ";
    
    position: absolute;
    top: -4px;
    left: 0;
    
    border-radius: 50px;

    z-index: -1;
}


